export default function <%= props.name %>Page({
  children,
  }: {
  children: React.ReactNode;
  }) {
  return (
  <div className="h-full relative ">
    <div className="h-full flex flex-col justify-center items-center">
      <%= props.name %> page
    </div>
  </div>

  );
  }